<!doctype html>
<html lang="en">

{% load static %}

<head>
	<title>Contact Form 10</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'> -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
	<section class="ftco-section img bg-hero" style="background-image: url( {% static 'images/bg_1.jpg' %} );">

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="wrapper">
						<div class="row no-gutters justify-content-between">
							<div class="col-lg-6 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-5">
									<h2 class="mb-4">Car Evaluation!</h2>
									<div class="dbox w-100 d-flex align-items-start">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-info-circle"></span>
										</div>
										<div class="text pl-4">
											<p><span>About:</span> In this project we apply a Machine Learning
												algorithm, Decision Tree to the Car Evaluation Dataset from <u><a
														href="https://www.kaggle.com/elikplim/car-evaluation-data-set">Kaggle.</a></u><br />
												The model predicts the class of the vehicle, the output being one out of
												four categories: 'unacc', 'acc', 'vgood' and 'good'.<br />
												Go ahead, fill in the details of the form to see the results!
											</p>

										</div>
									</div>
									<div class="dbox w-100 d-flex align-items-start">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-github"></span>
										</div>
										<div class="text pl-4">
											<p><span>Code:</span> The code to this project can be found on <u><a
														href="https://github.com/manas-v/deploy-ML-model-with-Django">Github.</a></u>
												So what are you waiting for, give your own ML model an interface too!
											</p>

										</div>
									</div>
									<div class="dbox w-100 d-flex align-items-start">
										<div class="icon d-flex align-items-center justify-content-center">
											<span class="fa fa-certificate"></span>
										</div>
										<div class="text pl-4">
											<p><span>Result:</span> The quality of you car is
												<b>
													<h1 style="color:white">
														<div id="theClass"></div>
													</h1>
												</b>
											</p>

										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-5">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Enter The Details</h3>
									<form method="POST" id="contactForm" name="contactForm">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-12">
												<select class=" form-control form-select form-select-lg mb-3 md-12"
													aria-label=".form-select-lg example" name="buying" id="buying">
													<option selected>Select Buying Price</option>
													<option value="vhigh">v-high</option>
													<option value="high">high</option>
													<option value="med">med</option>
													<option value="low">low</option>
												</select>
											</div>
											<div class="col-md-12">
												<select class=" form-control form-select form-select-lg mb-3 md-12"
													aria-label=".form-select-lg example" name="maint" id="maint">
													<option selected>Select Maintenance Cost</option>
													<option value="vhigh">v-high</option>
													<option value="high">high</option>
													<option value="med">med</option>
													<option value="low">low</option>
												</select>
											</div>
											<div class="col-md-12">
												<select class=" form-control form-select form-select-lg mb-3 md-12"
													aria-label=".form-select-lg example" name="doors" id="doors">
													<option selected>No of Doors</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5more">5 or more</option>
												</select>
											</div>
											<div class="col-md-12">
												<select class=" form-control form-select form-select-lg mb-3 md-12"
													aria-label=".form-select-lg example" name="persons" id="persons">
													<option selected>No of People</option>
													<option value="2">2</option>
													<option value="4">4</option>
													<option value="more">more</option>
												</select>
											</div>
											<div class="col-md-12">
												<select class=" form-control form-select form-select-lg mb-3 md-12"
													aria-label=".form-select-lg example" name="lug_boot" id="lug_boot">
													<option selected>Boot Luggage</option>
													<option value="small">small</option>
													<option value="med">med</option>
													<option value="big">big</option>
												</select>
											</div>
											<div class="col-md-12">
												<select class=" form-control form-select form-select-lg mb-3 md-12"
													aria-label=".form-select-lg example" name="safety" id="safety">
													<option selected>Safety</option>
													<option value="low">low</option>
													<option value="med">med</option>
													<option value="high">high</option>
												</select>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Predict" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
											<div id="form-message-warning" class="mb-4"></div>
											<div id="form-message-success" class="mb-4">
												Calculating!
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>